@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Sora:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Sora:wght@200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Maven Pro';
    font-family: 'Oswald';
}

:root {
    --primary-font-family: 'Oswald';
    --secondary-font-family: 'Maven Pro';
    --primary-font-size: 25px;
    --btn-font-size: 19px;
    --secondary-font-size: 16px;
    --sky-color: rgb(36, 216, 255);
    --gray-color: rgb(225, 225, 225, 7%);
    --white-color: white;
}

html {
    overflow-x: hidden;
}

.border {
    width: 160px;
    padding: 0.21px;
    display: block;
    margin: auto;
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255)) !important;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
}

.border-bottom {
    width: 80px;
    height: 2px;
    background-color: var(--sky-color);
    display: block;
    margin: auto;
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    border-radius: 10px;
}

/* navegation section start */
.navegation {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
    width: 100%;
    margin-bottom: 30px;
    
}

.navbar {
    box-shadow: 0 0px 0px var(--sky-color), 0 0 5px var(--sky-color) ;
    border-radius: 10px;
}

.navbar-brand img {
    width: 110px;
}

.navbar-nav {
    margin-right: 20px;
}
.nav-item .nav-link {
    color: var(--white-color);
    /* padding: 14px !important; */
    font-size: 16px;
    font-family: var(--secondary-font-family);
}

.nav-item .active {
    border-bottom: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    color: aliceblue !important;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: var(--white-color);
    padding: 4px !important;
}

.nav-item .nav-link,
.nav-item .nav-link:hover {
    color: var(--white-color);
    padding: 4px !important;
   margin: 10px; 
}

.nav-item .nav-link {
    position: relative;
    display: inline-block;
}
 

.nav-item .nav-link::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}

.nav-item .nav-link.active::before,
.nav-item .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.collapse button {
    background: var(--sky-color);
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    color: var(--white-color);
    border: 1px solid var(--sky-color);
    padding: 6px 25px;
    border-radius: 20px;
    font-family: var(--secondary-font-family);
}

.collapse button:hover {
    background: black;
    border: 1px solid rgb(36, 216, 255);
    transition: 2s;
}
/* navegation section end */

/* hero section start */
#hero_section {
    background-image: url(..//img/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.hero_img img{
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}
.hero-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero_testimonial h1 {
    font-size: 60px;
    font-weight: 800;
    color: var(--sky-color);
    padding-bottom: 20px;
    margin-top: 130px;
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_testimonial p {
    font-size: var(--secondary-font-size);
    color: var(--white-color);
    font-family: var(--secondary-font-family);
    padding-top: 10px;
}

.hero_testimonial button img{
    width: 31px;
    padding-left: 10px;
}
.hero_testimonial button {
    background-color: rgb(225, 225, 225, 7%);
    color: var(--sky-color);
    border: 1px solid var(--sky-color);
    padding: 9px 25px;
    border-radius: 10px;
    font-family: var(--secondary-font-family);
    margin-top: 10px;
    transition: 2s;
}

.hero_testimonial button:hover {
    background-color: var(--sky-color);
    box-shadow: 0 0 2px rgb(36, 216, 255), 0 0 10px rgb(36, 216, 255), 0 0 25px rgb(36, 216, 255), 0 0 50px rgb(36, 216, 255), 0 0 150px rgb(36, 216, 255);
    color: var(--white-color);
    transition: 3s;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding-left: 0px;
    margin-top: 40px;
}
  
.wrapper .icon {
    position: relative;
    color: var(--sky-color) !important;
    border-radius: 50%;
    border: 1px solid var(--sky-color);
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover {
    color: var(--white-color) !important;
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
}


.testimonial {
    position: relative;
    color: var(--white-color);
    font-weight: 600;
    font-size: 30px;
    font-family: var(--primary-font-family);
}

.testimonial first-text {
    position: relative;
    color: var(--white-color) !important;
    font-weight: 600;
    font-size: 30px;
    font-family: var(--primary-font-family);
}

.testimonial .text {
    position: relative;
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-weight: 600; 
}

.testimonial .text .first-text {
    color: black;
    font-size: 29px;
}

/* .testimonial .sec-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-left: 2px solid rgb(36, 216, 255);
    animation: animata 4s steps(12)infinite;
} */

@keyframes animata{
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0;
    }
    
}

@media only screen and (max-width: 992px) {
    .experience_area {
        margin: 10px;
    }
    .hero_testimonial h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 800;
        color: var(--sky-color);
        padding-bottom: 10px;
        margin-top: 120px;
    }

    .testimonial {
        position: relative;
        color: var(--white-color);
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        font-family: var(--primary-font-family);
    }

    .hero_testimonial p {
        font-size: 13px;
        color: var(--white-color);
        font-family: var(--secondary-font-family);
        padding-top: 10px;
        text-align: center;
    }

    .hero_testimonial button {
        background-color: rgb(225, 225, 225, 7%);
        color: var(--sky-color);
        border: 1px solid var(--sky-color);
        padding: 9px 25px;
        border-radius: 10px;
        font-family: var(--secondary-font-family);
        margin-top: 30px !important;
        transition: 2s;
        display: block;
        margin: auto;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero_img img{
        width: 90%;
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }
  }
/* hero section end */

/* experience section start */
#experience_section {
    padding: 60px 0px;
    background-color: black !important;
}

.experience_area {
    border-bottom: 2px solid var(--sky-color);
    border-top: 2px solid var(--sky-color);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(225, 225, 225, 9%);
}
.experience_contant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.experience_icon img {
    width: 70px;
    background-color: rgb(225, 225, 225, 0.2%);
}

.count-box {
    margin-left: 20px;
}

.counter {
    font-size: 40px;
    font-weight: 900;
    color: var(--white-color);
}

.count-box p {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    color: var(--white-color);
    padding-top: 10px;
}

@media only screen and (max-width: 992px) {
    .experience_area {
        margin: 30px;
    }
  }
/* experience section end */

/* about section */
#about_section {
    padding: 40px 0px;
    background-color: black;
}

.about_content h1 {
    text-align: center;
    font-family: var(--primary-font-family);
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.about-img img {
    width: 70%;
    display: block;
    margin: auto;
}

.about-area {
    margin-top: 50px;
}

.about-area h2 {
    font-family: var(--secondary-font-family);
    font-size: var(--primary-font-size);
    color: var(--sky-color);
    padding-top: 70px;
}

.about-area h3 {
    font-family: var(--secondary-font-family);
    font-size: var(--primary-font-size);
    color: var(--sky-color);
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-area p {
    font-family: var(--secondary-font-family);
    font-size: 14px;
    color: var(--white-color);
    padding-top: 20px;
}

.progress-card  {
    display: flex;
}
.progress-card p {
    font-family: var(--secondary-font-family);
    font-size: 14px;
    color: var(--white-color);
    padding-top: 20px;
}

.progress-card h4 {
    font-family: var(--secondary-font-family);
    font-size: 19px;
    color: var(--sky-color);
    padding-top: 20px;
    padding-left: 80%;
    text-align: right !important;
}

.about-area .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.progress-bar-wrap {
    height: 15px !important;
    border-radius: 10px;
    margin-top: 10px;
}
  
.about-area .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    display: block;
    font-size: 20px;
    font-family: var(--secondary-font-family);
    color: var(--white-color);
}

.about-area .progress .skill i {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--sky-color);
}
  
.about-area .progress .skill .val {
    float: right;
    font-style: normal;
}
  
.about-area .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
}
  
.about-area .progress-bar {
    width: 1px;
    height: 15px;
    border-radius: 10px;
    transition: 0.9s;
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
}

@media only screen and (max-width: 992px) {
    .about-img img {
        display: block;
        margin: auto;
        width: 90%;
    }

    .about-area h2 {
        font-family: var(--secondary-font-family);
        font-size: var(--primary-font-size);
        color: var(--sky-color);
        padding-top: 30px;
        text-align: center;
    }

    .about-area h3 {
        font-family: var(--secondary-font-family);
        font-size: var(--primary-font-size);
        color: var(--sky-color);
        margin-top: 20px;
        text-align: center;
    }
    
    .about-area p {
        font-family: var(--secondary-font-family);
        font-size: 14px;
        color: var(--white-color);
        padding-top: 20px;
        text-align: center;
    }

    .about-area {
        margin-top: 10px;
    }

    .progress {
        margin: 20px;
    }
  }
/* about section */

/* services section start */
#services_section {
    background-color: black;
    padding: 30px 0px;
}

.services_card {
    box-shadow: 0 0px 2px rgb(210, 244, 252), 0 0 4px rgb(221, 245, 252) ;
    padding: 10px;
    padding: 20px;
    border: 1px solid var(--sky-color);
    margin-top: 30px;
    background-color: rgb(225, 225, 225, 7%);
    transition: 2s;
}

.services_card:hover {
    box-shadow: 0 0 1px rgb(36, 216, 255), 0 0 5px rgb(36, 216, 255), 0 0 5px rgb(36, 216, 255), 0 0 20px rgb(36, 216, 255), 0 0 10px rgb(36, 216, 255);
    transition: 2s ease;
    background-color: var(--gray-color);
}

.service_contant h1 {
    text-align: center;
    font-family: var(--primary-font-family);
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.services_card h2 {
    text-align: center;
    font-family: var(--primary-font-family);
    color: var(--sky-color);
    padding-top: 20px;
}

.services_card p {
    text-align: center;
    font-family: var(--secondary-font-family);
    color: var(--white-color);
    font-size: 12px;
    padding-top: 20px;
}

.services_area {
    display: flex;
    justify-content: space-between;
    height: 100% !important;
}

.services_area span {
    text-align: end;
    font-family: var(--secondary-font-family);
    color: var(--white-color);
    font-size: var(--secondary-font-size);
    padding-top: 10px;
}

.services_card button {
    background-color: var(--sky-color);
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    color: var(--white-color);
    border: none;
    padding: 6px 25px;
    border-radius: 8px;
    font-family: var(--secondary-font-family);
    display: block;
    margin: auto;
    margin-top: 40px;
}

.services_card button:hover {
    box-shadow: 0 0 1px rgb(36, 216, 255), 0 0 5px rgb(36, 216, 255), 0 0 5px rgb(36, 216, 255), 0 0 20px rgb(36, 216, 255), 0 0 10px rgb(36, 216, 255);
    background: var(--gray-color);
    color: var(--white-color);
    transition: 1s;
}

@media only screen and (max-width:992px) {
    .services_card {
        box-shadow: 0 0px 2px rgb(210, 244, 252), 0 0 4px rgb(221, 245, 252) ;
        padding: 10px;
        padding: 20px;
        border: 1px solid var(--sky-color);
        margin-top: 20px !important;
        background-color: rgb(225, 225, 225, 7%);
        transition: 2s;
        margin: 25px;
    }
}
/* services section end */

/* project section start */
#project-section {
    background-color: black;
    padding: 60px 0px;
}

.project_contain h1 {
    text-align: center;
    font-family: var(--primary-font-family);
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.Project_img img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.Project_img  {
    position: relative;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}


.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(99, 227, 255, 50%);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1s ease;
}

.Project_img:hover .overlay {
    bottom: 0;
    height: 100%;
  }


.overlay a img {
    width: 50px;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.overlay a img:hover {
    background-color: rgb(36, 216, 255);
    border-radius: 6px;
}

@media only screen and (max-width:992px) {
    .project_contain {
        margin: 20px;
    }
}
/* project section end */

/* testimonial section start */
#testimonial {
    padding: 20px 0px;
    background-color: black;
}

.testimonial-header h1 {
    text-align: center;
    font-family: var(--primary-font-family);
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.testimonial-content {
    background-image: url(..//img/Rectangle\ 16.png);
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
}

.testimoial-img  {
    display: flex;
    justify-content: space-between;
    
}
.testimoial-img img {
    width: 80px !important;
    display: flex;
    
}

.testimonial-content h4 {
    font-family: var(--primary-font-family);
    font-size: 18px;
    color: var(--sky-color);
    padding-left: 10px;
}

.testimonial-content p {
    font-family: var(--secondary-font-family);
    font-size: 12px;
    color: var(--white-color);
    padding-left: 10px;
}

.testimoial-icon {
    display: flex;
    padding: 10px;
    margin-top: 15px;
}

.testimoial-icon p {
    font-family: var(--secondary-font-family);
    font-size: 12px;
    color: var(--white-color);
    padding: 5px;
}

.testimoial-icon img {
    width: 18px !important;
    height: 10px !important;
    margin-left: 0px !important;
}

.owl-dots {
    text-align: center;
    margin-top: 2%;
  }
  
  .owl-dot {
    width: 10px !important;
    height: 10px !important;
    background-color: black !important;
    border: 2px solid var(--sky-color) !important;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.8;
  }
  
  .owl-dot.active {
    background-color: var(--sky-color) !important;
    width: 20px !important;
    height: 20px !important;
  }

  .owl-prev {
    font-size: 4em !important;
    position: absolute;
    top: 0;
    background-color: var(--sky-color) !important;
}
.owl-next {
    font-size: 2em !important;
    position: absolute;
    top: 0;
    right: 0;
}  
  
@media only screen and (max-width:992px) {
    .content-area {
        margin: 20px;
    }


}
/* testimonial section end */

/* blog section start */
#blog_section {
    padding: 20px 0px;
    background-color: black;
}

.blog_content h1 {
    text-align: center;
    font-family: var(--primary-font-family);
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.blog_area {
    /* margin: 20px; */
    width: 100%;
    background-image: url(..//img/Group\ 475.png);
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.blag_img img {
    width: 80%;
    display: block;
    margin: auto;
}

.blag_text p {
    font-family: var(--secondary-font-family);
    font-size: 14px;
    color: rgb(107, 107, 107);
    padding-left: 50px; 
}

.blag_text h3 {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    color: var(--white-color);
    padding-left: 50px; 
}

.blag_text button {
    background-color: var(--sky-color);
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    color: var(--white-color);
    border: none;
    padding: 6px 25px;
    border-radius: 8px;
    font-family: var(--secondary-font-family);
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid var(--sky-color);
}

.blag_text button:hover {
    background: var(--gray-color);
    color: var(--white-color);
    transition: 1s;
    border: 1px solid var(--sky-color);
}

.blag_text .blag_btn {
    background: var(--gray-color) !important;
    color: var(--white-color);
    border: none;
    padding: 6px 25px;
    border-radius: 8px;
    font-family: var(--secondary-font-family);
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid var(--sky-color);
}

.blag_text .blag_btn:hover {
    background: var(--sky-color);
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255)) !important;
    color: var(--white-color);
    transition: 1s !important;
    border: 1px solid var(--sky-color);
}

@media only screen and (max-width:992px) {
    .blog_content {
        
        margin: 20px;
    }

    .blog_area {
        margin-top: 20px;
    }
}
/* blog section end */

/* clients section start */
#clients_section {
    padding: 60px 0px;
    background-color: black;
}

.client_img {
    background-color: var(--white-color);
    border-radius: 6px;
    margin-top: 40px;
    height: 140px !important;
}

.client_img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    display: block;
    padding: 10px;
    margin: auto;
}

.client_content h1 {
    text-align: center;
    font-family: var(--primary-font-family);
    background: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
/* clients section end */

/* contact section start */
#contact_section {
    padding: 60px 0px;
    background-image: url(..//img/Group\ 474.png);
    background-size: cover;
}

.contact_form img {
    width: 150px;
}

.contact_form p {
    font-family: var(--secondary-font-family);
    font-size: 14px;
    color: var(--white-color);
    padding-top: 10px;
    padding-left: 5px;
}

input[type=text] {
    width: 60%;
    padding: 6px;
    margin: 7px;
    border-radius: 4px;
    display: block;
    border: 1px solid var(--sky-color);
    font-family: var(--secondary-font-family);
    font-size: 14px;
    outline: none;
    color: var(--white-color);
    background-color: var(--gray-color);
}

.form textarea {
    background-color: var(--gray-color);
    width: 60%;
    padding: 8px;
    margin: 7px;
    border-radius: 4px;
    display: block;
    border: 1px solid var(--sky-color);
    font-family: var(--secondary-font-family);
    font-size: 14px;
    outline: none;
    color: var(--white-color);
}

.form button {
    background-color: var(--sky-color);
    background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
    color: var(--white-color);
    border: none;
    width: 60%;
    border-radius: 5px;
    font-family: var(--secondary-font-family);
    margin-left: 5px;
    padding: 6px;
    border: 1px solid var(--sky-color);
}

.form button:hover {
    background: var(--gray-color);
    border: 1px solid var(--sky-color);
    transition: 1s;
}

.contact_info h1 {
    font-family: var(--primary-font-family);
    color: var(--white-color);
    font-size: 30px;
}

.border-info {
    width: 160px;
    padding: 1px;
    background-color: var(--sky-color);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(18, 63, 70));
    border-radius: 10px;
    margin-bottom: 5px;
}

.border-bottom-info {
    width: 80px;
    margin: 10px;
    padding: 1px;
    background-color: var(--sky-color);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(18, 63, 70));
    border-radius: 10px;
}

.contact-icon {
    display: flex;
    margin-top: 10px;
}

.icons img {
    width: 40px;
}

.icons p {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    color: var(--white-color);
    padding-top: 8px;
    padding-left: 10px !important;
}

@media only screen and (max-width:992px) {
    #contact_section {
        padding: 30px 0px;
        background-image: url(..//img/Group\ 474.png);
        background-size: cover;
    }

    .contact_content {
        margin: 20px;
    }

    input[type=text] {
        width: 100%;
        padding: 6px;
        margin: 0px;
        border-radius: 4px;
        display: block;
        border: 1px solid var(--sky-color);
        font-family: var(--secondary-font-family);
        font-size: 14px;
        outline: none;
        color: var(--white-color);
        margin-top: 7px;
        background-color: var(--gray-color);
    }
    
    .form textarea {
        background-color: var(--gray-color);
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        display: block;
        border: 1px solid var(--sky-color);
        font-family: var(--secondary-font-family);
        font-size: 14px;
        outline: none;
        margin: 0px;
        margin-top: 7px;
        color: var(--white-color);
    }
    
    .form button {
        background-color: var(--sky-color);
        background-image: linear-gradient(to right, rgb(18, 63, 70) , rgb(36, 216, 255));
        color: var(--white-color);
        border: none;
        width: 100%;
        border-radius: 5px;
        font-family: var(--secondary-font-family);
        margin-left: 0px;
        padding: 6px;
        margin-top: 7px;
        border: 1px solid var(--sky-color);
    }

    .form {
        margin-left: 0px;
    }
        
    .contact_form img {
            width: 180px;
            display: block;
            margin: auto;
    }

    .contact_form p {
            font-family: var(--secondary-font-family);
            font-size: 14px;
            color: var(--white-color);
            padding-top: 10px;
            padding-left: 0px;
            text-align: center;
    }

    .contact-icon {
        text-align: center;
    }

    .contact_info h1 {
        font-family: var(--primary-font-family);
        color: var(--sky-color);
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
    }
    .border-info {
        width: 160px;
        padding: 1px;
        background-color: var(--sky-color);
        background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(18, 63, 70));
        border-radius: 10px;
        margin-bottom: 5px;
        display: block;
        margin: auto;
    }
    
    .border-bottom-info {
        width: 80px;
        margin: 10px;
        padding: 1px;
        background-color: var(--sky-color);
        background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(18, 63, 70));
        border-radius: 10px;
        display: block;
        margin: auto;
        margin-top: 8px;
    }
}
/* contact section end */

/* footer section start */
#footer {
    padding: 20px 0px;
    background-color: black;
    border-top: 1px solid var(--sky-color);
}

footer {
    text-align: center;
    font-family: var(--secondary-font-family);
    font-size: 14px;
    color: var(--white-color);
}

.footer-border {
    width: 80px;
    margin: 10px;
    padding: 1px;
    margin: auto;
    display: block;
    background-color: var(--sky-color);
    border-radius: 10px;
    margin-top: 10px;
}


/* footer section end */

.scrollup {
    width:35px;
    height:35px;
    position:fixed;
    bottom:30px;
    right:15px;
    display:none;
    background:var(--sky-color);
    text-align: center;
}

.scrollup i {
    color:#fff;
    font-size:20px;
    line-height:33px;
}

.scrollup:hover {
    background: var(--sky-color);
}
